.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--green);
  color: white;
}

.reservation > * {
  z-index: 3;
}

.bgImage {
  margin-top: 200px;
  width: 800px;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
}

.bgImage img{
  width: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
