@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

:root {
  --orange: #ffb015;
  --green: #97bf0f;
  --white: #fff;
  --black: #000;
  --blue: #15c7ff;
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Quattrocento Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}

body {
  width: 100%;
  min-height: 100vh;
}

.mainBodyDiv {
  display: flex;
}
