.roundedButton {
    border: none;
    padding:  10px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.roundedButton:hover {
    filter: brightness(0.9);
}

.roundedButton:active {
    transition: 0s;
    transform: scale(0.9);
}