.addRemoveContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addRemoveContainer h2 {
  opacity: 0.5;
}

.addRemoveContainer h1 {
  opacity: 0.5;
  margin: 4vh 0;
  text-align: center;
}

.addCar {
  position: fixed;
  top: 20px;
  z-index: 3;
  right: 180px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow: auto;
  width: 90%;
  gap: 20px;
  padding: 20px;
}

.carItem {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
  margin-bottom: 50px;
}

.carItem .left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.carItem .left span {
  font-weight: 400;
  margin-left: 20px;
}

.carItem .left button {
  position: relative;
  top: 42px;
  z-index: 3;
}

.carItem .right {
  width: 250px;
  position: relative;
  height: 100%;
}

.imageContainer {
  width: 250px;
  position: absolute;
  bottom: -140px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.calendar {
  width: 24px;
  height: 24px;
  padding-left: 10px;
}

.cost {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.carItem .left h4 {
  display: flex;
  align-items: center;
}

.carItem .right img {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .addRemoveContainer h1 {
    margin-top: 8vh;
    margin-bottom: 0;
  }

  .carItem {
    flex-direction: column;
    margin-bottom: 80px;
    gap: 20px;
    min-height: 232px;
  }

  .carItem .right {
    width: 100%;
  }

  .imageContainer {
    width: 100%;
    bottom: -136px;
  }

  .carItem .left button {
    top: 0;
  }
}
